/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logo-image img{
  width: 7%;
  height: 5%;
}


.header-navbar{
  margin-left: 50%;
  font-family:'Courier New', Courier, monospace;
  font-size:medium;
  font-weight: bold;
  
}

.header-navbar a:hover{
  font-weight:900;
  color: palevioletred;
  border-bottom: #5ff39f solid 0.2em;
}

.sidebar{
  background-color: #F3B95F;
}

.sidebar a:hover{
  font-weight:900;
  color: palevioletred;
  border-bottom: #5ff39f solid 0.2em;
}

/* .color1{
  color: #D04848;
  padding-bottom: 2em;
  padding-top: 2em;
}

.color2{
  color: #6895D2;
} */

ul {
  list-style-type: none; 
}

/* .menu-list li{
  display: flex;
  flex-direction: column;
} */

.menu-list img{
  width: 50%;
  height: 25%;
}

.menu-list a{
  font-size: smaller;
  padding-left: 0.5em;
}

.menu-list li{
  padding-bottom: 1em;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
}

.recipe {
  flex: 0 0 calc(20% - 20px); /* Adjust the width as needed */
  margin: 10px;
}

.recipe img{
  border-radius: 15%;
  width: 100%;
  height: auto;

}

.recipe h4{
  font-size: medium;
  text-align: center;
  font-size: small;
}

.generate-food{
  text-align: center;
  font-family:serif;
  font-size:larger;
}

.page-heading{
  text-align:center;
  padding-top: 0.5rem;
  font-family: "Dancing Script", cursive;
  font-size: xx-large;
}

.search{
  display: flex;
  flex-direction: row;
  /* width: 25%; */
  gap: 1em;
  margin-left: 3%;
  /* background-color: #BFEA7C; */
  width: 100%;
}

/* .menu-list a{
  padding-bottom: 5em;
} */

.search input{
  border-color: #F3B95F;
  border-radius: 5%;
}

.search button{
  border-color: #F3B95F;
  border-radius: 5%;
}

.search input:hover{
  border-color: #5ff3b8;
  border-radius: 5%;
  color: red;
}

.search button:hover{
  border-color: #5ff39f;
  border-radius: 5%;
  color: red;
}

.search select:hover{
  border-color: #5ff39f;
  border-radius: 5%;
  color: red;
}

.ingredients-container{
  border-radius: 15%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}

.ingredients{
  flex: 0 0 calc(20% - 20px); 
  margin: 6px;
  background-color: #68d29a;
  border-top-left-radius: 10%;
}

.ingredients p{
  text-align: center;
  padding: 1em;
  font-size: x-large;
  font-family: "Shadows Into Light";
}

.ingredients img{
  text-align: center;
  padding: 1em;
  font-size: larger;
}

